body {
  margin: 0;
  background-image: url("./image/img.jpg");
  /* background-size: cover;
  background-position: center; */
}

/* CSS for the container that holds the buttons */
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS for the increment button */
.incrementBtn {
  background-color: #007bff; /* You can change the color as per your preference */
  color: #fff; /* Text color for the button */
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

/* CSS for the decrement button */
.decrementBtn {
  background-color: #dc3545; /* You can change the color as per your preference */
  color: #fff; /* Text color for the button */
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
